body 
{

font-size : 1.1rem;
 
font-family : 'new roman';
}
@media screen and (min-width: 768px) 
{ 

   .post{
  
      position: relative;
      max-width: 100%;
      width: 80%;
   }

   .menupc li{
      display: inline;
      list-style: none;

   }

   .banner {
      height: 365px;
      max-width: 100%;
      
      background-repeat: no-repeat;
     
      background-position: 0% 100%;
   
      background-image: url('jarditou_html_zip/images/promotion.jpg');
     
      background-size: cover;
      -webkit-background-size: cover;
      }
      
}

@media screen and (max-width: 768px) 
{ 
 
  
   .menupc li{
      display: block;
   
   }
   .menuphone{
      display: inline;
      list-style: none;
   }
   .menuphone ul{
      display: none;
   }
   .sidebar {
      display:none;
   }
   body 
{

font-size : 1.2rem;

font-family : 'new roman';
}

.post{
  
   position: relative;
   width: 100%;
}

}   

.sidebar {
      position: relative;
      padding-left: 4px;
      margin: 16px 1px;
      width: 20%;
      background-color: grey;
      border:1px transparent;
   
   }
    
   .sidebar h2 {
    
     font-size: 22px;
      }
      .sidebar aside{
         padding: 11px 11px;
      }  

    

.logo {
  
   height: 120px;
   width: 100%;
}


.picturelogo {
   width: 50%;
   position: relative;
   float: left;
}

.titresite {
   width: 50%;
   position: relative;
   padding-top: 14px;
   font-size: 28px;
   margin-left: 40%;
}

.promo {
   
   width : 270px; 
   }
nav{
     
     background-color: black;
     width: 100%;
     height: auto;
     margin: 13px 0px;
     padding-top: 1px;
     padding-bottom: 1px;
}


nav a:hover{
   color: rgb(241, 9, 9);
}


a {

   color: white;
}


a:hover
{
   
     color: rgb(241, 9, 9);
}
a:visited{

   color: white;
}

img 
{
     max-width: 100%;
     height: auto;
}


.pied{
 
   
}
.container {
   display: flex;
   max-width: 100%;
   margin: 2px 2px;
}

.menu li{
   display: inline;
   list-style: none;
}



table, tr, td, th 
    { 
       border: 1px solid #000000;
    }

.imgtd{
   width: 100px;
}